<h1>Detail</h1>
<table *ngIf="wine$ | async as wine" class="striped">
  <tbody>
  <tr>
    <td><b>Id</b></td>
    <td>{{wine.id}}</td>
  </tr>
  <tr>
    <td><b>Titel</b></td>
    <td>{{wine.title}}</td>
  </tr>
  <tr>
    <td><b>Winzer</b></td>
    <td>{{wine.producer}}</td>
  </tr>
  <tr>
    <td><b>Typ</b></td>
    <td>{{wine.type}}</td>
  </tr>
  <tr>
    <td><b>Ernte</b></td>
    <td>{{wine.harvest | date : 'd. MMMM yyyy'}}</td>
  </tr>
  <tr>
    <td><b>Preis</b></td>
    <td>{{wine.price | currency : 'EUR'}}</td>
  </tr>
  <tr>
    <td><b>Beschreibung</b></td>
    <td>{{wine.description}}</td>
  </tr>
  <tr>
    <td><b>User</b></td>
    <td>{{wine.name}}</td>
  </tr>
  <tr>
    <td><b>Email</b></td>
    <td>{{wine.email}}</td>
  </tr>
  </tbody>
</table>
