/* You can add global styles to this file, and also import other style files */
// @import "~materialize-css/sass/materialize";

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

app-root main {
  flex: 1 0 auto;
}

.wv-cursor-pointer {
  cursor: pointer;
}
