<h1>Liste</h1>
<table class="highlight responsive-table">
  <thead>
  <tr>
    <th>Id</th>
    <th>Titel</th>
    <th>Winzer</th>
    <th>Typ</th>
    <th>Ernte</th>
    <th>Preis</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let wine of wines$ | async" [routerLink]="['/detail', wine.id]" class="wv-cursor-pointer">
    <td>{{wine.id}}</td>
    <td>{{wine.title}}</td>
    <td>{{wine.producer}}</td>
    <td>{{wine.type}}</td>
    <td>{{wine.harvest | date : 'd. MMMM yyyy'}}</td>
    <td>{{wine.price | currency : 'EUR'}}</td>
  </tr>
  </tbody>
</table>
